# zsh dump
zsh/.config/zsh/.zcompdump

# Lazy Vim Dump
.config/mpd/log

# external local bin
.local/bin/bw
.local/bin/autotiling
.local/bin/wal

# config cache
.config/mpd/database
.config/mpd/log
.local/bin/yt-dlp
