[Desktop Entry]
Comment[en_PH]=
Comment=
Exec=/home/biku/Scripts/startup.sh
GenericName[en_PH]=
GenericName=
Icon=dialog-scripts
MimeType=
Name[en_PH]=startup.sh
Name=startup.sh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
