* {
	font-size: 15px;
	font-family: "JetBrainsMono", monospace;
}

window#waybar {
	background: #2A2A37;
	color: #E6C384;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1A1A22;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #2A2A37;
	background: #1A1A22;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #1A1A22;
}

#workspaces button {
	padding: 0 2px;
	color: #E6C384;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1A1A22;
	border: #1A1A22;
	padding: 0 3px;
}

#clock {
	color:#E6C384;
}

#pulseaudio {
	color: #98BB6C;
}
#memory {
	color: #7AA89F;
}
#cpu {
	color: #7FB4CA;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}